/*eje z nos da profundidad en el elemento*/

body{
    margin: 0;
    background: palevioletred;
    display: flex;
    /*min-height: 100vh;*/
}

.container{
    margin: auto;
    perspective: 700px;
    perspective-origin: center;
    
}

.caja{
    width: 300px;
    height: 300px;
    background: purple;
    transition:  all 1s;
    /*transform: rotateX(50deg);*/

   /* transform: rotate3d(1,1,0,50deg);*/
    /*transform: translateZ(200px);*/
     /*transform: translate3d(50px,50px,50px);*/

     transform: rotateX(50deg);
     transform-style: preserve-3d;
}

.cara{
    width: 100px;
    height: 100px;
    background: white;
    margin: auto;
    transform: rotateY(50deg);

}

/*efecto mostrado cuando se pasa el mouse por encima del
elemento*/
.caja:hover{
    transform: rotateX(360deg);
}
